<h1><center>Ecommerce Segmentation Analysis<center/><h1/>
<h2>April 2025<h2/>
Celine Ng

Table of Contents
1. Notebook Preparation
    1. Libraries Installation
    1. Data loading
2. Data Cleaning
3. EDA

# 1. Notebook Preparation

## 1.1. Libraries Installation

In [8]:
from utils.eda import *

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1.2. Data loading

In [4]:
data = pd.read_csv('data/data.csv')
data.head()

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4

In [5]:
data.shape

(1000, 28)

# 2. Data Cleaning

In [11]:
data.describe(include='all')

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
count,1000,1000.000000,1000,1000,1000,1000,1000,1000,1000,1000,...,1000.000000,744,1000,1000,1000,1000,1000,1000,1000,1000.000000
unique,1000,NaN,8,2,4,3,2,969,24,989,...,NaN,3,3,5,344,2,2,4,3,NaN
top,37-611-6911,NaN,Female,High,Widowed,Bachelor's,High,Oslo,Electronics,$178.04,...,NaN,High,Desktop,PayPal,3/3/2024,True,False,Need-based,No Preference,NaN
freq,1,NaN,452,515,260,341,517,4,54,2,...,NaN,270,350,219,8,521,509,256,372,NaN
mean,NaN,34.304000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.399000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.547000
std,NaN,9.353238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.868454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.035849
min,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
50%,NaN,34.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000
75%,NaN,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.000000
max,NaN,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000

Missing Values

In [9]:
missing_values(data)

,Missing Values,Percentage Missing,Datatype
Customer_ID,0,0.0,object
Age,0,0.0,int64
Gender,0,0.0,object
Income_Level,0,0.0,object
Marital_Status,0,0.0,object
Education_Level,0,0.0,object
Occupation,0,0.0,object
Location,0,0.0,object
Purchase_Category,0,0.0,object
Purchase_Amount,0,0.0,object
Frequency_of_Purchase,0,0.0,int64
Purchase_Channel,0,0.0,object
Brand_Loyalty,0,0.0,int64
Product_Rating,0,0.0,int64
Time_Spent_on_Product_Research(hours),0,0.0,float64
Social_Media_Influence,247,24.7,object
Discount_Sensitivity,0,0.0,object
Return_Rate,0,0.0,int64
Customer_Satisfaction,0,0.0,int64
Engagement_with_Ads,256,25.6,object
Device_Used_for_Shopping,0,0.0,object
Payment_Method,0,0.0,object
Time_of_Purchase,0,0.0,object
Discount_Used,0,0.0,bool
Customer_Loyalty_Program_Member,0,0.0,bool
Purchase_Intent,0,0.0,object
Shipping_Preference,0,0.0,object
Time_to_Decision,0,0.0,int64

At this point there are several things worth noting down:
1. Only 2 features with missing values - Social_Media_Influence (24.7%),
Engagement_with_Ads (25.6%)
2. 8 unique values for gender, female is the most frequent answer
3. Most locations are unique - map it out, or change to country
4. Purchase amount needs to be converted to numerical
5. Time of purchase needs to be separate into more feature

2. age ranges between 18 - 50, with median being 34
4. 2 values for income, high being the most frequent
5. 4 values for martial state, widowed is the most frequent
6. 3 education levels, bachelor's is the most frequest
7. 2 occupations
9. 24 purchase categories
11. Frequency of purchase ranges between 2-12
12. 3 purchase channels
13. Brand loyalty between 1-5, mean being 3
14. Product rating between 1-5, mean being 3
15. Time spent researching product 0-2 (hours)
16. 3 values for social media influence, high being the most frequent
17. 3 values for Discount sensitivity, very sensitive the most frequent
18. Return rate 0-2
19. Customer satisfaction 0-10, 5 is median
20. Engagement with Ads 3 values, high is frequent
21. Device used for shopping 3 values,
22. 5 ways of Payment method

1. pattern with missing values? same users
2. clean up genders
3.